{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign</title>
</head>

<body>
    <form action="/postsign/" method="post">
        {% csrf_token %}
        Email :
        <input type="email" name="email">
        Password:
        <input type="password" name="pass">
        <button>Connexion</button>
    </form>
</body>

</html>