<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

    <h2>Bienvenue {{e}}.</h2>
    <h1>To Do List</h1>

    <form action="/addelement/" method="post">
        {% csrf_token %}
        Todo :
        <input type="text" name="element">
        <button type="submit">Ajouter</button>
    </form>

    <hr>

    {% if list %}
        {% for element in list %}
            <p>{{element}}</p>
        {% endfor %}
    {% endif %}
</body>

</html>